env: 
  blas_num_threads: 1

model:
  fixed_parameters:
    E_state_count: 1
    I_state_count: 1
    T_E: 4.0
    T_I: 4.0
    initial_state: [2, 2, 0, 0]
    observation_model:
      # ratio of reports on a day of the week to average reports per day
      scale_factors: [1.0627884989711363, 1.0141260219120183, 0.960402647238752, 1.0729102941994326, 0.8805961848617986, 0.9339302597185918, 1.0752460930982704]
      variance: 1.0
  inferred_parameters: 
    R_0:
      changepoints: [0.0, 7.0, 14.0, 21.0, 28.0, 35.0, 42.0, 49.0, 56.0, 63.0, 70.0, 77.0, 84.0, 91.0]
      initial_values: [1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1]
      prior:
        mu: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
        covariance_function_type: exponential
        covariance_function_parameters: [0.7, 136.47008022356596]
        transform: log
    initial_state:
      seed: 12345

data: 
  filename: data/observations.csv
  first_observation_time: 1.0

inference:
  proposal_parameters:
    mean: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    cov: [0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001]
  mh_config:
    seed: 1011121314
    buffer_size: 16384
    outfilename: data/dow_expcovfn_vic_covid_kalman_param_samples.f64_array.bin
    max_iters: 431072
    nparams: 14
    max_time_sec: 604800.0 # 1 week!
    # [T_E, T_I, R_0_1, R_0_2, ..., R_0_14]
    init_sample: [1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1]
    verbose: true
    infofilename: data/dow_expcovfn_vic_covid_kalman.info.txt
    adaptive: true
    nadapt: 131072
    adapt_cov_scale: 0.34
    continue: false

forecast:
  seed: 16860
  times: [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114]
  nsims: 1024
  R_0: 
    mu: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    samples:
      filename: data/dow_expcovfn_vic_covid_kalman_param_samples.f64_array.bin
      nburnin: 131072
      ignore_index: [15]
