env: 
  blas_num_threads: 1

model:
  fixed_parameters:
    E_state_count: 1
    I_state_count: 1
    T_E: 4.0
    T_I: 4.0
    notification_rate: nothing # 1.0
    observation_probability: 1.0
    initial_state: [2, 2, 0]
    immigration_rate: nothing # [0.0, 0.0]
    observation_model:
      # ratio of reports on a day of the week to average reports per day
      scale_factors: [1.0627884989711363, 1.0141260219120183, 0.960402647238752, 1.0729102941994326, 0.8805961848617986, 0.9339302597185918, 1.0752460930982704]
      variance: 1.0
  inferred_parameters: 
    R_0:
      changepoints: [0.0, 7.0, 14.0, 21.0, 28.0, 35.0, 42.0, 49.0, 56.0, 63.0, 70.0]
      initial_values: [1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1]
      prior:
        mu: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
        covariance_function_type: exponential
        covariance_function_parameters: [0.7, 136.47008022356596]
        transform: log
    initial_state:
      seed: 12345

data: 
  filename: data/observations.csv
  first_observation_time: 1.0

inference:
  proposal_parameters:
    mean: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    cov: [0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0001]
  mh_config:
    seed: 1011121314
    buffer_size: 16384
    outfilename: data/dow_expcovfn_vic_covid_kalman_param_samples.f64_array.bin
    max_iters: 431072
    nparams: 11
    max_time_sec: 604800.0 # 1 week!
    # [T_E, T_I, R_0_1, R_0_2, ..., R_0_14]
    init_sample: [1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1]
    verbose: true
    infofilename: data/dow_expcovfn_vic_covid_kalman.info.txt
    adaptive: true
    nadapt: 131072
    adapt_cov_scale: 0.34
    continue: false
    model_info_filename: data/dow_expcovfn_vic_covid_kalman.model_info.f64_array.bin

forecast:
  seed: 16860
  times: [73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
  nsims: 1024
  R_0: 
    mu: [-0.2,-0.22962962962962963,-0.25925925925925924,-0.28888888888888886,-0.31851851851851853,-0.34814814814814815,-0.37777777777777777,-0.4074074074074074,-0.43703703703703706,-0.4666666666666667,-0.4962962962962963,-0.5259259259259259,-0.5555555555555556,-0.5851851851851851,-0.6148148148148148,-0.6444444444444445,-0.674074074074074,-0.7037037037037037,-0.7333333333333333,-0.762962962962963,-0.7925925925925926,-0.8222222222222222,-0.8518518518518519,-0.8814814814814815,-0.9111111111111111,-0.9407407407407408,-0.9703703703703703,-1.0]
    samples:
      filename: data/dow_expcovfn_vic_covid_kalman_param_samples.f64_array.bin
      nburnin: 131072
  state: 
    samples:
      filename: data/dow_expcovfn_vic_covid_kalman.model_info.f64_array.bin
      nburnin: 131072
  outfilename: "data/dow_forecasts.csv"
