env: 
  blas_num_threads: 1

model:
  fixed_parameters:
    E_state_count: 1
    I_state_count: 1
    T_E: 4.0
    T_I: 4.0
    notification_rate: 1.0
    observation_probability: 1.0
    immigration_rate: nothing # [0.0, 0.0]
    observation_model:
      # ratio of reports on a day of the week to average reports per day
      day_of_week_effect_prior: [1.0627884989711363, 1.0141260219120183, 0.960402647238752, 1.0729102941994326, 0.8805961848617986, 0.9339302597185918, 1.0752460930982704]
      variance: 1.0
  inferred_parameters: 
    R_0:
      changepoints: [0.0, 7.0, 14.0, 21.0, 28.0, 35.0, 42.0, 49.0, 56.0]
      initial_values: [1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1]
      prior:
        initial_mean_model_params: [1.0, -1.0, -0.1, 50.0]
        mean_model_hyperprior_params: [1.0, 3.0, 1.0, 2.0, 1.0, 0.1, 50.0, 10.0]
        covariance_function_type: exponential
        covariance_function_parameters: [0.4, 136.47008022356596]
        transform: log
    initial_states: data/initial_states.csv
    param_names: [L, L0, k, x0, R0_1, R0_2, R0_3, R0_4, R0_5, R0_6, R0_7, R0_8, R0_9, LL]
  info_param_names: [E, I, O, N, CovEE, CovEI, CovEO, CovEN, CovIE, CovII, CovIO, CovIN, CovOE, CovOI, CovOO, CovON, CovNE, CovNI, CovNO, CovNN]

data: 
  filename: data/observations.csv
  first_observation_time: 1.0

inference:
  proposal_parameters:
    mean: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
    cov: [0.2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.2, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 20.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.001]
  mh_config:
    seed: 1011121314
    buffer_size: 16384
    outfilename: data/dow_expcovfn_vic_covid_kalman_param_samples.f64_array.bin
    max_iters: 431072
    nparams: 13
    max_time_sec: 604800.0 # 1 week!
    # [L, L0, k, x0, R_0_1, R_0_2, ..., R_0_14]
    init_sample: [1.0, -1.0, -0.1, 50.0, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1, 1.1]
    verbose: true
    infofilename: data/dow_expcovfn_vic_covid_kalman.info.txt
    adaptive: true
    nadapt: 131072
    adapt_cov_scale: 0.34
    continue: false
    model_info_filename: data/dow_expcovfn_vic_covid_kalman_state.model_info.f64_array.bin

forecast:
  seed: 16860
  times: [63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91]
  nsims: 1024
  R_0: 
    samples:
      filename: data/dow_expcovfn_vic_covid_kalman_param_samples.f64_array.bin
      nburnin: 131072
  state: 
    samples:
      filename: data/dow_expcovfn_vic_covid_kalman_state.model_info.f64_array.bin
      nburnin: 131072
  outfilename: 
    forecasts: "data/dow_forecasts.csv"
    r0paths: "data/dow_forecasts_r0paths.csv"
    statesamples: "data/dow_forecasts_statesamples.csv"
